body,
html {
    height: 100%
}

body {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%)
}

@media only screen and (max-width: 33.9em) {
    .display-4 {
        font-size: xx-large
    }
}

.vertical-align {
    display: flex;
    align-items: center
}

progress {
    width: 40%;
    display: block;
    margin: 2em auto;
    padding: 3px;
    border: 0 none;
    background: #0c0f0a;
    border-radius: 14px
}

small {
    color: black
}

.container {
    line-height: 1.15;
    text-align: center
}

progress::-moz-progress-bar {
    border-radius: 12px;
    background: #ff206e
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    progress {
        height: 25px
    }
}

progress::-webkit-progress-bar {
    background: transparent
}

progress::-webkit-progress-value {
    border-radius: 12px;
    background: orange
}