body,
html {
    height: 100%;
}

body {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.vertical-align {
    display: flex;
    align-items: center;
}

progress {
    width: 40%;
    display: block;
    /* default: inline-block */
    margin: 2em auto;
    padding: 3px;
    border: 0 none;
    background: #0c0f0a;
    border-radius: 14px;
}

small {
    color: black
}

.container {
    line-height: 1.15;
    text-align: center;
}


/* 
h1 {
    width: 40%;
    /* default: inline-block */


/* margin: 2em auto;
    padding: 3px;
} */


/*h2 {
    width: 40%;
    /* default: inline-block */


/*margin: 1em auto;
    padding: 1px;
} */

progress::-moz-progress-bar {
    border-radius: 12px;
    background: #ff206e;
}


/* webkit */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    progress {
        height: 25px;
    }
}

progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    border-radius: 12px;
    background: orange;
}