<!DOCTYPE html>
<html lang="en">
   <head>
		<meta class="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Progress Bar</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel='stylesheet' href='static/style.css' />
	</head>
   <body>
      <div class="container text-center d-flex h-100">
         <div class="row align-self-center w-100">
            <div class="col-6 mx-auto">
               <h1 class="display-4">Year Progress</h1>
               <p class="lead">{{ doy }} days has been passed out of {{ yleap }}.</p>
               <div class="progress" style="height:30px">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ item }}%;height:30px" aria-valuenow="{{ item }}" aria-valuemin="0" aria-valuemax="100">{{ item }}%</div>
               </div>
               <!--<progress value = {{ item }} max = "100"/> -->
            </div>
         </div>
      </div>
      <!--<div class="container d-flex h-100">
         <div class="row align-self-center w-100">
            <div class="col-6 mx-auto">
                  <div class="jumbotron">
                     <h1 class="display-4">Year Progress</h1>
                     <p class="lead">{{ doy }} days has been passed out of {{ yleap }}.</p>
                        <div class="progress" style="height:30px">
                           <div class="progress-bar" style="width:39%;height:30px"></div>
                        </div>
                  </div>
            </div>
         </div>
      </div>-->
   </body>
</html>


